<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <i class="fa fa-globe" aria-hidden="true"></i>
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
  <%= link_to t('.russian'), { locale: :ru }, class: "dropdown-item" %>
  <%= link_to t('.english'), { locale: :en }, class: "dropdown-item"%>
</div>
