@import "bootstrap";
@import "font-awesome";

.table > tbody > tr > td {
  vertical-align: middle;
  text-align: center;
}

p {
  font-size: 22px;
}

a.provider {
  color: rgba(0, 0, 0, 0.5);
  &:hover {
    text-decoration: none;
  }
}

.navbar-brand {
  font-size: 30px;
}

#container {
  margin: 48px auto;
  width: 960px;
}

.alert {
  margin-top: 46px;
  margin-bottom: 46px;
}

.content {
  margin-top: 46px;
}

/* MISC */

.clearfix:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;} html[xmlns].clearfix{display:block;} * html .clearfix{height:1%;}
