<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Привет, дорогой пользователь Флэшкарточкера (<%= @user.email %>)</h1>
    <p>
      У тебя есть не просмотренные карточки!
      Давай, хватит лениться! Нужно взять и продолжить учиться!
    </p>
  </body>
</html>