<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, dear User Flashcards App (<%= @user.email %>)</h1>
    <p>
      You have not reviewed cards!
      Come on, enough is lazy! Just take it and continue learning!
    </p>
  </body>
</html>